<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sina</title>
	<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/less/xinlang.less">
	<script type="text/javascript" src="__PUBLIC__/js/less.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="nav">
		<div class="nav-left">
			<span class="logo"></span>
			<input type="text" placeholder="大家正在搜：罗志祥">
			<a href="#" class="search-icon glyphicon glyphicon-search"></a>
		</div>
		<div class="nav-right">
			<div>
				<ul>
					<li><a href="#"><em class="glyphicon glyphicon-home"></em><em class="">首页</em></a></li>
					<li><a href="#"><em class="glyphicon glyphicon-eye-open"></em><em class="">发现</em></a></li>
					<li><a href="#"><em class="glyphicon glyphicon-equalizer"></em><em class="">游戏</em></a></li>
					<li><a href="#"><em class="glyphicon glyphicon-user"></em><em class="">king1992</em></a></li>
				</ul></div>
			<div>
				<em class=""></em>
				<em class=""></em>
				<em class=""></em>
			</div>
		</div>
	</div>
</body>
</html>