<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>upload test</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<!-- <form action="__URL__/upload" enctype="multipart/form-data" method="post" > -->
<form action="" method="post" enctype="multipart/form-data"> 
<!-- <input type="text" name="name" /> -->
<input type="file" name="file" />
<input type="submit" value="提交" >
</form>
<script type="text/javascript">
	$(function(){
		data = $("input[name=file]").val();
		console.log('data',data);
		$("input[name=file]").change(function(){
			$.ajax({
				url:"{:U('Home/upload/upload')}",
				method: "post",
				// fileElementId:"avatar_uploder",
				data:{},
				success:function(obj){
					console.log('s',obj)
				},
				complete:function(obj){
					console.log('c',obj)
				},
				error:function(){
					console.log('e')
				}
			})
		})
	})
</script>
</body>
</html>